// Styles for home page


@media (min-width: $screen-sm){
  #kongConnectForm{
    input.form-control{
      width: 400px;
    }
  }
}

.status{
  .status-items{

    h5{
      text-align: center;
      font-size: 20px;
      border: 1px solid;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      vertical-align: middle;
      line-height: 60px;
      margin: 0 auto;
      overflow: visible;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.43);
      border: 1px solid transparent;
      background-color: #FFF;
    }
    p{
      text-align: center;
    }
  }
}

.plugins{
  .plugin{
    .panel{
      img.icon{
        max-height: 40px;
        max-width: 40px;
        float: left;
        margin: 10px;
      }
      .panel-heading{
        font-weight: 600;
      }
      .panel-body{
        min-height: 60px;
        padding: 10px;
      }
      .panel-heading,
      .panel-body{
        padding-left: 60px;
      }
    }
  }
}
